.back {
  background-image: url('/assets/img/starpixel.webp');
  background-repeat: repeat;
  background-size: 25rem;
  width: 100%;
  height: auto;
}

.time {
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 3px;
  margin-bottom: 1rem;
  color: black;
  text-shadow:
    0px 0px 3px aqua,
    0px 0px 3px aqua;
}

.title0 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0;
  width: 40rem;
  height: 2rem;
  letter-spacing: 2px;
  font-size: 0.8rem;
  text-align: center;
  color: #00ff2b;
  text-shadow:
    -1px 1px 0px black,
    0px 0px 3px black,
    -1px 1px 0px black,
    0px 0px 0px black;
  overflow: hidden;
}
.borderbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.borderimgdiv {
  width: 40%;
  display: flex;
}
.borderimg {
  width: 3rem;
  height: auto;
}

.line {
  position: relative;
  height: 1px;
}
.linetrans {
  position: relative;
  width: 20%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, lightyellow, transparent);
}

.link {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 3rem;
}

.link2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: #e9f322;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  text-shadow: 1px 1px magenta;
  box-shadow:
    inset -5px -5px #717171,
    inset 5px 4px #f7f7f7;
}

.title3 {
  animation: blink-effect 1s step-end infinite;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
.title3 p {
  text-align: center;
  color: firebrick;
  font-size: 2.3rem;
}
.vantable {
  position: relative;
  margin: 0 auto 10rem;
  width: 40rem;
  height: 30rem;
  color: yellow;
  font-size: 0.8rem;
  font-family: var(--font-vast), 'DungGeunMo';
  border: 10px outset grey;
}
.vantable .vantableko {
  font-family: var(--font-vast), 'DungGeunMo';
}
.project {
  height: fit-content;
  border: 1.5px inset grey;
  box-shadow: inset 0px 0px 20px cornflowerblue;
}
.projectimg {
  width: 23rem;
  height: auto;
}
.project p {
  padding: 1rem 0 1.5rem 0;
  font-size: 1rem;
  font-size: 1rem;
  line-height: 1rem;
}
.bordertd {
  border: 1.5px inset grey;
  height: 7rem;
}
.bordertdright {
  width: 60%;
  height: 7rem;
  white-space: pre-line;
  padding-left: 0.5rem;
}
.tabletitle {
  font-size: 1.5rem;
}
.arcbtnbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
  box-sizing: border-box;
}
.arcbtnbox a {
  text-decoration: none;
}
.arcbtn {
  color: #00ff2b;
  text-align: center;
  /* font-family: 'Silkscreen', 'cursive'; */
  font-style: italic;
  line-height: 1.7rem;
  padding-bottom: 0.3rem;
  padding-right: 0.4rem;
  font-size: 1.7rem;
  letter-spacing: -2px;
  background-color: red;
  border: 5px outset #ff3333;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.3rem;
}
.visitcount {
  font-size: 0.9rem;
  opacity: 0.7;
  padding-top: 0.2rem;
  letter-spacing: 3px;
}
.maingallery {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  padding: 3rem 0 2rem;
  width: 40rem;
  height: 20rem;
}
.gallerybox {
  width: 9rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgbox {
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.galleryimg {
  transition: all 0.1s;
  width: 7rem;
  height: auto;
}

.galleryimg:hover {
  animation: move-animation 1s infinite;
}
.gallerytext {
  text-align: center;
  color: aqua;
  font-size: 0.9rem;
  /* font-family: 'Righteous', sans-serif, cursive; */
  width: 8rem;
  min-height: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.visit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aqua;
  font-weight: 800;
  padding-top: 5rem;
  box-sizing: border-box;
}
.homefooter {
  position: relative;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 2px;
  /* font-family: 'Orbitron'; */
  color: wheat;
  padding-bottom: 0.5rem;
}
.profile {
  width: 5rem;
  height: 5rem;
  box-sizing: border-box;
  margin: 0 auto;
}
.marqueecontent {
  position: relative;
  display: flex;
  animation: marquee 25s linear infinite;
}
.marqueecontent p {
  width: 40rem;
  line-height: 2rem;
  margin-top: 0.2rem;
}

@keyframes marquee {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.vankologo {
  width: 16rem;
  height: 16rem;
  margin: 3rem auto;
  /* padding: 3rem 0; */
}
/************* 글리치 *************/
.glitch {
  background: #000 no-repeat center;
  background-size: 0;
  overflow: hidden;
  width: 100%;
  height: 7rem;
  position: relative;
}
.glitchmain {
  background: #000 no-repeat center;
  background-size: 0;
  overflow: hidden;
  width: 36rem;
  margin: 1rem 0;
  height: 36rem;
  position: relative;
}

.glitch::before,
.glitch::after,
.glitch .channel {
  background: inherit;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  content: ''; /* 이 부분을 추가해서 기본 상태에서는 내용이 없도록 했습니다. */
  animation: none; /* 애니메이션 초기화 */
}
.glitchmain::before,
.glitchmain::after,
.glitchmain .channel {
  background: inherit;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  content: ''; /* 이 부분을 추가해서 기본 상태에서는 내용이 없도록 했습니다. */
  animation: none; /* 애니메이션 초기화 */
}

.glitch:hover::before {
  animation: glitch-before 3s linear infinite alternate both;
}
.glitchmain:hover::before {
  animation: glitch-before 3s linear infinite alternate both;
}

.glitch:hover::after {
  animation: glitch-after 3s linear infinite alternate both;
}
.glitchmain:hover::after {
  animation: glitch-after 3s linear infinite alternate both;
}

.glitch .channel {
  mix-blend-mode: screen;
}
.glitchmain .channel {
  mix-blend-mode: screen;
}

.glitch .channel::before {
  bottom: 0;
  content: '';
  display: block;
  mix-blend-mode: multiply;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.glitchmain .channel::before {
  bottom: 0;
  content: '';
  display: block;
  mix-blend-mode: multiply;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.glitch:hover .r {
  animation: rgb-shift-r 3s steps(1, jump-end) infinite alternate both;
}
.glitchmain:hover .r {
  animation: rgb-shift-r 3s steps(1, jump-end) infinite alternate both;
}

.glitch:hover .g {
  animation: rgb-shift-g 3s steps(1, jump-end) infinite alternate both;
}
.glitchmain:hover .g {
  animation: rgb-shift-g 3s steps(1, jump-end) infinite alternate both;
}

.glitch:hover .b {
  animation: rgb-shift-b 3s steps(1, jump-end) infinite alternate both;
}
.glitchmain:hover .b {
  animation: rgb-shift-b 3s steps(1, jump-end) infinite alternate both;
}

.glitch .r::before {
  background: #f00;
}
.glitchmain .r::before {
  background: #f00;
}

.glitch .g::before {
  background: #0f0;
}
.glitchmain .g::before {
  background: #0f0;
}

.glitch .b::before {
  background: #00f;
}
.glitchmain .b::before {
  background: #00f;
}

@keyframes glitch-before {
  0% {
    clip-path: polygon(0% 4.3389633045%, 100% 4.3389633045%, 100% 5.3404091462%, 0% 5.3404091462%);
    transform: translate(6.7742905805%, -0.4849464801%);
  }
  2% {
    clip-path: polygon(0% 8.19051117%, 100% 8.19051117%, 100% 9.2601564262%, 0% 9.2601564262%);
    transform: translate(1.231667556%, -0.0581289663%);
  }
  4% {
    clip-path: polygon(
      0% 87.6860916327%,
      100% 87.6860916327%,
      100% 96.8115385384%,
      0% 96.8115385384%
    );
    transform: translate(5.1616970069%, -0.1738708732%);
  }
  6% {
    clip-path: polygon(
      0% 33.3692644121%,
      100% 33.3692644121%,
      100% 39.2918169447%,
      0% 39.2918169447%
    );
    transform: translate(2.3317326876%, -0.3455673387%);
  }
  8% {
    clip-path: polygon(0% 5.6823410579%, 100% 5.6823410579%, 100% 8.1752136596%, 0% 8.1752136596%);
    transform: translate(-4.1789950766%, 0.2999926636%);
  }
  10% {
    clip-path: polygon(
      0% 83.6607825611%,
      100% 83.6607825611%,
      100% 93.1726814868%,
      0% 93.1726814868%
    );
    transform: translate(-4.6078030342%, 0.26543558%);
  }
  12% {
    clip-path: polygon(
      0% 80.9604200155%,
      100% 80.9604200155%,
      100% 83.1712314248%,
      0% 83.1712314248%
    );
    transform: translate(3.9582471507%, 0.0057217015%);
  }
  14% {
    clip-path: polygon(
      0% 77.6901507089%,
      100% 77.6901507089%,
      100% 85.9817923215%,
      0% 85.9817923215%
    );
    transform: translate(-0.7526905508%, 0.2735584353%);
  }
  16% {
    clip-path: polygon(
      0% 85.6652527727%,
      100% 85.6652527727%,
      100% 86.9253854176%,
      0% 86.9253854176%
    );
    transform: translate(1.3326232554%, 0.4418576225%);
  }
  18% {
    clip-path: polygon(
      0% 42.1123989659%,
      100% 42.1123989659%,
      100% 44.2753497079%,
      0% 44.2753497079%
    );
    transform: translate(-0.1062180357%, -0.4986612354%);
  }
  20%,
  100% {
    clip-path: none;
    transform: none;
  }
}

@keyframes glitch-after {
  0% {
    clip-path: polygon(
      0% 33.6918707734%,
      100% 33.6918707734%,
      100% 38.3410425582%,
      0% 38.3410425582%
    );
    transform: translate(-1.7780354352%, 0.1439570936%);
  }
  2% {
    clip-path: polygon(
      0% 77.9784368695%,
      100% 77.9784368695%,
      100% 83.0347609185%,
      0% 83.0347609185%
    );
    transform: translate(0.4638007415%, -0.071748662%);
  }
  4% {
    clip-path: polygon(
      0% 7.8719829122%,
      100% 7.8719829122%,
      100% 10.2001778052%,
      0% 10.2001778052%
    );
    transform: translate(-6.7670171253%, -0.060116258%);
  }
  6% {
    clip-path: polygon(
      0% 78.4535164968%,
      100% 78.4535164968%,
      100% 85.4041742514%,
      0% 85.4041742514%
    );
    transform: translate(7.4722852848%, 0.3204154432%);
  }
  8% {
    clip-path: polygon(
      0% 80.5906150041%,
      100% 80.5906150041%,
      100% 87.0070128245%,
      0% 87.0070128245%
    );
    transform: translate(-4.3950838558%, -0.2425919909%);
  }
  10% {
    clip-path: polygon(
      0% 66.9940578798%,
      100% 66.9940578798%,
      100% 74.0770035721%,
      0% 74.0770035721%
    );
    transform: translate(6.5443801525%, 0.3944600379%);
  }
  12% {
    clip-path: polygon(
      0% 83.7251033483%,
      100% 83.7251033483%,
      100% 93.0589160657%,
      0% 93.0589160657%
    );
    transform: translate(-6.5607202934%, -0.4617558775%);
  }
  14% {
    clip-path: polygon(
      0% 36.8798746517%,
      100% 36.8798746517%,
      100% 45.1938709939%,
      0% 45.1938709939%
    );
    transform: translate(4.0366486943%, -0.1490647452%);
  }
  16% {
    clip-path: polygon(
      0% 6.6693400289%,
      100% 6.6693400289%,
      100% 13.8536362843%,
      0% 13.8536362843%
    );
    transform: translate(1.6032317036%, 0.3148511531%);
  }
  18% {
    clip-path: polygon(
      0% 83.178913383%,
      100% 83.178913383%,
      100% 92.4391653291%,
      0% 92.4391653291%
    );
    transform: translate(-6.6613253129%, 0.3964586383%);
  }
  20%,
  100% {
    clip-path: none;
    transform: none;
  }
}

@keyframes rgb-shift-r {
  0% {
    transform: translate(1.5939405764%, 0.2199229145%);
  }
  2% {
    transform: translate(1.9522464923%, 0.0687368909%);
  }
  4% {
    transform: translate(0.8893717928%, -0.0298781017%);
  }
  6% {
    transform: translate(1.4168243895%, 0.2347554112%);
  }
  8% {
    transform: translate(1.7531869831%, -0.3215134881%);
  }
  10% {
    transform: translate(1.214396507%, 0.1710851545%);
  }
  12% {
    transform: translate(-1.1777437573%, 0.1694319491%);
  }
  14% {
    transform: translate(1.0123431069%, 0.4245968494%);
  }
  16% {
    transform: translate(1.0129813788%, -0.4204015471%);
  }
  18% {
    transform: translate(0.0207254103%, -0.4209796781%);
  }
  20%,
  100% {
    transform: none;
  }
}

@keyframes rgb-shift-g {
  0% {
    transform: translate(1.8212633078%, 0.3527631495%);
  }
  2% {
    transform: translate(1.5962380337%, 0.169737767%);
  }
  4% {
    transform: translate(-0.1945465825%, -0.358397843%);
  }
  6% {
    transform: translate(1.1425145246%, -0.0986996238%);
  }
  8% {
    transform: translate(0.1518536323%, 0.0819664579%);
  }
  10% {
    transform: translate(1.0187124545%, -0.0166592382%);
  }
  12% {
    transform: translate(1.7832023065%, 0.2062681007%);
  }
  14% {
    transform: translate(0.349626453%, -0.2808484907%);
  }
  16% {
    transform: translate(-0.7097020206%, 0.4861258971%);
  }
  18% {
    transform: translate(1.5139147522%, 0.3594051062%);
  }
  20%,
  100% {
    transform: none;
  }
}

@keyframes rgb-shift-b {
  0% {
    transform: translate(-0.0025289027%, -0.4166690386%);
  }
  2% {
    transform: translate(0.5374521183%, -0.02734866%);
  }
  4% {
    transform: translate(-1.2189526942%, -0.2561193148%);
  }
  6% {
    transform: translate(0.4166944422%, -0.0524381593%);
  }
  8% {
    transform: translate(-1.9564438258%, 0.0459961871%);
  }
  10% {
    transform: translate(-1.2003694882%, 0.4909813727%);
  }
  12% {
    transform: translate(1.6362438912%, 0.3844525774%);
  }
  14% {
    transform: translate(-1.7205872029%, -0.4965474664%);
  }
  16% {
    transform: translate(-1.221575199%, 0.3960025107%);
  }
  18% {
    transform: translate(-0.0126787806%, -0.4891559367%);
  }
  20%,
  100% {
    transform: none;
  }
}

/****************** 움직이는거 *******************/
.movecontainer {
  width: 40rem;
  height: 27rem;
  border: 0.2rem solid #00ff2b;
  box-shadow:
    4px -12px 20px 20px #00ff2b,
    1px 4px 20px 20px #00ff2b;
  margin: 0 auto;
}

.moveimage {
  transition: all 0.1s;
  width: 35rem;
  height: 19.6rem;
  position: relative;
  left: 10rem;
  top: 2rem;
  background-size: cover;
}

.movecontainer:hover .moveimage {
  animation: move-animation 1s infinite;
}

@keyframes move-animation {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-5px, 3px);
  }
  40% {
    transform: translate(5px, -3px);
  }
  60% {
    transform: translate(-5px, 2px);
  }
  80% {
    transform: translate(5px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/****** 미디어쿼리 portrait ******/
@media screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) {
  .visitcount {
    padding-top: 0rem;
  }
}

@media screen and (max-width: 1023px) and (orientation: portrait) {
  .title0 {
    width: 70%;
  }
  .vankologo {
    width: 15rem;
    height: 15rem;
    margin: 5rem auto;
  }
  .linetrans {
    width: 35%;
  }
  .vantable {
    width: 37.5rem;
    border: 8px outset grey;
  }
  .glitchmain {
    width: 34rem;
    height: 34rem;
  }
  .bordertdright {
    width: 65%;
  }
  .maingallery {
    width: 70%;
    padding: 1rem 0 1.5rem;
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
  }
  .gallerybox {
    width: 8rem;
  }
  .arcbtn {
    font-size: 1.5rem;
    width: 7rem;
  }
  .arcbtnbox {
    padding-bottom: 8rem;
  }
  .visitcount {
    /* width: 5rem; */
    padding-top: 0rem;
  }
  .time {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  .glitch {
    height: 6rem;
  }
  .profile {
    width: 10.5vw;
    height: 10.5vw;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .title0 {
    width: 90%;
  }
  .vankologo {
    width: 13rem;
    height: 13rem;
    margin: 3rem auto;
  }

  .title3 p {
    font-size: 1.5rem;
  }
  .link2 {
    font-size: 1.2rem;
    width: 3rem;
    height: 3rem;
  }
  .borderimgdiv {
    width: 20%;
  }
  .linetrans {
    width: 50%;
  }
  .vantable {
    width: 90%;
    height: 0;
    border: 5px outset grey;
    font-size: 0.7rem;
    margin: 0 auto 8rem;
  }
  .project {
    box-shadow: inset 0px 0px 20px cornflowerblue;
  }
  .glitchmain {
    height: 20.5rem;
    width: 20.5rem;
    margin: 0.8rem 0;
  }
  .project p {
    padding: 0 0 1rem 0;
    line-height: 0.7rem;
    font-size: 0.8rem;
  }
  .bordertd {
    height: 5rem;
    width: 40%;
  }
  .bordertdright {
    width: 65%;
    padding: 0;
    height: 5rem;
    padding-left: 0.4rem;
  }
  .glitch {
    height: 4rem;
  }
  .maingallery {
    width: 80%;
    height: auto;
    padding: 1rem 0 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0rem;
    grid-row-gap: 1.5rem;
  }
  .galleryimg {
    width: 6.5rem;
  }
  .imgbox {
    height: 6.5rem;
  }
  .gallerybox {
    height: 7.5rem;
  }
  .gallerytext {
    width: 7.5rem;
  }
  .arcbtn {
    font-size: 1.3rem;
    width: 6rem;
  }
  .arcbtnbox {
    padding: 1rem 0 8rem 0;
  }
  .visit {
    padding-top: 4.5rem;
  }
  .visit p {
    font-size: 0.8rem;
  }
  .visitcount {
    /* width: 4rem; */
    padding-top: 0rem;
  }
  .time {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .homefooter {
    font-size: 0.7rem;
  }
  .profile {
    width: 19vw;
    height: 19vw;
  }
  .tabletitle {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 711px) and (max-width: 712px) and (orientation: portrait) {
  .title0 {
    width: 65%;
  }
  .linetrans {
    width: 30%;
  }

  .vantable {
    font-size: 0.8rem;
    width: 30rem;
  }
  .bordertd {
    height: 7rem;
  }
  .maingallery {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    padding: 1rem 0 1rem;
    width: 30rem;
    height: 20rem;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
  .gallerybox {
    width: 7rem;
    height: 7rem;
  }
  .galleryimg {
    width: 6rem;
  }
  .gallerytext {
    width: 7rem;
  }
  .profile {
    width: 10vw;
    height: 10vw;
  }
  .project {
    height: 25rem;
  }
  .project p {
    padding: 1rem 0;
    line-height: 0.7rem;
    font-size: 1rem;
  }
  .glitchmain {
    width: 27rem;
    margin: 1rem auto;
    height: 27rem;
  }
  .glitch {
    height: 5rem;
  }
  .tabletitle {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 390px) and (orientation: portrait) {
  .glitchmain {
    width: 19rem;
    height: 19rem;
  }
}
@media screen and (max-width: 375px) and (orientation: portrait) {
  .glitch {
    height: 3.5rem;
  }
  .glitchmain {
    width: 17rem;
    height: 17rem;
    margin: 1rem 0;
  }
  .tabletitle {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 320px) and (orientation: portrait) {
  .marqueecontent p {
    font-size: 0.7rem;
    width: 37rem;
  }
  .vantable {
    width: 94%;
  }
  .glitchmain {
    height: 16rem;
    width: 16rem;
    margin: 0.8rem 0;
  }
  .profile {
    width: 21vw;
    height: 21vw;
  }
  .glitch {
    height: 3.2rem;
  }
  .tabletitle {
    font-size: 1rem;
  }
}

/****** 미디어쿼리 landscape ******/
@media screen and (max-width: 940px) and (orientation: landscape) {
  .title0 {
    width: 40rem;
  }
  .linetrans {
    width: 35%;
  }
  .vantable {
    width: 40rem;
  }

  .maingallery {
    width: 40rem;
    padding: 1rem 0 2rem;
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
  }
  .gallerybox {
    width: 8rem;
  }
  .arcbtnbox {
    padding-bottom: 5rem;
  }
  .arcbtnbox p {
    font-size: 1.5rem;
    width: 7rem;
  }
  .visit p {
    font-size: 0.9rem;
  }
  /* .visitcount{
        width: 5rem;
    } */
  .time {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .profile {
    width: 10vw;
    height: 10vw;
  }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  .title0 {
    width: 90%;
  }
  .linetrans {
    width: 45%;
  }
  .vantable {
    width: 88%;
  }
  .glitchmain {
    width: 30rem;
    height: 30rem;
  }

  .maingallery {
    width: 83%;
  }
  .profile {
    width: 13vw;
    height: 13vw;
  }
}
